
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.bigCounter {
    text-align: center;
    background: black;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 10px;
    
}

.bigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    
    background: #3f3f3f;
    color: white;
    padding: 10px; 
    margin: 7px; 
    border-radius: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
}


.calendar {
    font-size: 53px !important;
   
    transform: translateY(-2px); 

}
.Title {
    text-align: center;
    font-size: 80px;
    color: #00e1ff;
    -webkit-text-stroke: 1px #008080; 
   
  }
  